body{
	background-color: #fff;
}
.main-heading{
	height: 66px;
	background-color: #e4e4e4;
	text-align: center;
}
.main-heading h1{
	font-size: 28px;
	font-weight: 600;
}
.search-bar {
	margin-top: 25px;
}
.temperature img{
	position: relative;
}
.temperature h1{
	font-size: 40px;
	font-weight: 700;
	position: absolute;
	top: 100px;
    left: 48px
}
.temperature h2{
	text-transform: uppercase;
}
.temperature .desc ,.temperature .details{
	margin-top: 88px;
	font-size: 20px;
}
.error{
	font-size: 25px;
	margin-top: 25px;
    color: #d54747;
}